*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}


body{

background:#f8f8f8;
color:#333;

}



/* HERO */

.hero{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,0.5),
rgba(0,0,0,0.5)
),
url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");


background-size:cover;

background-position:center;


display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}



.hero-content{

max-width:800px;

}



.hero h1{

font-size:60px;

margin-bottom:20px;

}



.hero p{

font-size:22px;

line-height:1.6;

margin-bottom:35px;

}



.hero a{

text-decoration:none;

background:#ff6b00;

color:white;

padding:15px 40px;

border-radius:30px;

font-size:18px;

}






/* OVERVIEW */


.overview{

background:white;

padding:70px 10%;

text-align:center;

}



.overview h2{

font-size:40px;

margin-bottom:20px;

}



.overview p{

font-size:18px;

line-height:1.8;

}








/* DETAILS */


.trip-details{

padding:60px 10%;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}



.card{

background:white;

padding:30px;

text-align:center;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}



.card h3{

color:#ff6b00;

margin-bottom:15px;

}








/* ITINERARY */


.itinerary{

padding:70px 10%;

background:#eee;

}



.itinerary h2{

text-align:center;

font-size:40px;

margin-bottom:40px;

}



.days{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

}



.day-box{

background:white;

padding:35px;

border-radius:15px;

box-shadow:0 5px 15px #ccc;

}



.day-box h3{

color:#ff6b00;

}





/* GALLERY */


.gallery{

padding:70px 10%;

}



.gallery h2{

text-align:center;

font-size:40px;

margin-bottom:40px;

}



.gallery-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.place{

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 15px #ccc;

}



.place img{

width:100%;

height:250px;

object-fit:cover;

}



.place h3{

padding:20px;

}








/* FOOTER */


footer{

background:#111;

color:white;

padding:50px;

text-align:center;

}



footer h2{

margin-bottom:15px;

}








/* RESPONSIVE */


@media(max-width:900px){


.trip-details{

grid-template-columns:1fr 1fr;

}


.gallery-grid{

grid-template-columns:1fr 1fr;

}


}



@media(max-width:600px){


.hero h1{

font-size:35px;

}


.trip-details,
.days,
.gallery-grid{

grid-template-columns:1fr;

}


}