*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0F4C81,#0077B6);
}

.signup-box{
    width:420px;
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    text-align:center;
}

.signup-box h1{
    color:#0F4C81;
    margin-bottom:10px;
    font-size:32px;
}

.signup-box p{
    color:#666;
    margin-bottom:25px;
    line-height:24px;
}

.signup-box input{
    width:100%;
    height:50px;
    margin-bottom:18px;
    padding:0 15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    outline:none;
}

.signup-box input:focus{
    border:2px solid #0077B6;
}

.signup-box button{
    width:100%;
    height:50px;
    border:none;
    border-radius:8px;
    background:black;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.signup-box button:hover{
    background:#2563EB;
}

.login{
    margin-top:20px;
    font-size:15px;
}

.login a{
    color:#0077B6;
    text-decoration:none;
    font-weight:bold;
}

.login a:hover{
    text-decoration:underline;
}